.footer {
    background: #af394b;
    min-height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Coiny", sans-serif;
    font-size: 2rem;
    color: aliceblue;
}