.header{
    background: #641B2E;
    min-height: 15vh;
    font-family: "Coiny" , sans-serif;
    font-size: 5rem;
    color: aliceblue;

    display: flex;
    justify-content: center;
    align-items: center;
}